.form__container {
display: flex;
flex-direction: column;
  flex-wrap: wrap;
  margin: 0px auto;
}

.zipcode {
  position: 'absolute';
  box-shadow: '0px 2px 5px rgba(0, 0, 0, 0.2)';
  font-weight: '450';
}
.form__required-field::after {
  content: '*';
  color: red;
}
.form__zip-input {
  width: 400px;
  height: 100px;

}
.form__event-filters {
  display: flex;
  width: 75%;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px auto;
  border: 1px solid;
}
.form__zip-input input {
  height: 55px;
  width: 100px;
}

::placeholder {
  color: #004ac7;
}
input {
  border-radius: 2px;
  height: 60px;
  width: 80px;
  color: #004ac7;
  font-weight: 450;
  border: none;
  text-align: center;
  font-size: 18px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

input[type='checkbox'] + label:before {
  border: solid black 1px;
  border-radius: 6px;
  margin: 9px;
  padding: 0.4px 11px;
  content: '';
  position: relative;
  cursor: pointer;
}

input[type='checkbox']:checked + label:before {
  content: '';
  background-color: #004ac7;
}

label {
  font-size: 15px;
}

/* // utils /// */
.active-category {
  color: white;
  background-color: #004ac7;
}

@media only screen and (max-width: 760px) {
  .form__event-filters {
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px auto;
    border: 1px solid;
  }
  .form__zip-input {
    display: flex;
    width: 87%;
    margin: 0px auto;
  }
}
