.event-card {
  position: relative;
  text-align: center;
  margin: 20px 0px;
  color: #004ac7;
  padding: 6px 0px 6px 12px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.event-card:hover {
  border: solid 5px #004ac7;
}
.event-card__description {
  font-size: 15px;
  margin: 0px;
  padding: 5px;
  position: absolute;
  bottom: 100%;
  top: 48px;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 0;
  transition: 5s linear;
}

/* .event-card:hover .event-card__description {
  position: relative;
  bottom: 0;
  height: 100%;
  transition: 3s ease-in-out;
} */

*/ .details__checkbox {
  display: none;
}
.details__checkbox:checked ~ .event-card {
  transform: scale(2);
  transition: transform 0.8s;
  background-color: #c700ac98;
}

.event-card__date {
  text-align: left;
  padding: 5px;
  font-size: 12px;
}
.event-card__date:after {
  content: '';
  display: block;
  width: 90%;
  padding-top: 3px;
  border-bottom: solid 1px rgb(161, 159, 159);
}
.event-card__title {
  font-size: 15px;
  margin: 10px 2px;
  font-weight: 700;
  text-align: left;
}

/* this doesn't work, the way that I would like it to  */
@keyframes slideDown {
  0% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@media only screen and (max-width: 760px) {
  .event-card {
    margin: 10px auto;
    width: 85vw;
    animation: crescendo 0.3s ease-in;
  }
}
@media only screen and (max-width: 500 px) {
  .event-card {
    margin: 20px;
    border: blue solid;
    width: 85vw;
    animation: crescendo 0.3s ease-in;
  }
}
