body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  background-color: #e3e0e781;
}
.body {
  display: flex;
  justify-content: space-evenly;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
}

.main-page {
  display: flex;
  flex-direction: column;
  margin-top: 11vh;
  width: 71vw;
  height: 89vh;
}

@media only screen and (max-width: 760px) {
  body {
    height: 100vh;
  }
  .body {
    flex-direction: column-reverse;
  }
  .main-page {
    width: 100vw;
    height: auto;
  }
}

/* //breakpoint 850px */
