export const mapContainer {
  background: white;
  color: #004ac7;
  height: 100%;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
  align-bottom: true;
  pane: mapPane;
  border: solid 2px green;
}

export const mapContainerStyle {
  height: 60vh;
  width: 60vw;
  overflow: hidden;
  borderradius: 20px;
  border: solid #0d0a92 2px;
  boxshadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
}
.map-container {
  max-height: 77vh;

  flex-grow: 1;
}

@media only screen and (max-width: 760px) {
  .map-container {
    display: none;
  }
}
